/* menu styling */
.small-navbar {
  padding-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
}
.btn-ghost {
  color: #333;
  border-color: #333;
}

.btn-ghost:hover, .btn-ghost:focus, .btn-ghost:active, .btn-ghost.active, .open .dropdown-toggle.btn-ghost {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.small-navbar-heading a {
  color: #333;
}

.small-navbar-heading a:hover {
  color: #333;
}

/*End menu styling*/


/* BCVOTES */

body {
  background-color: white;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

header a, header a:hover , header a:active, header a:focus{
  color: #333;
  text-decoration-color: #333;
}

h2 {
  font-weight:bold;
  padding-top:1em;
}

h4 {
  font-weight: normal;
}

p {
  font-weight: lighter;
}

.content-column-content>p:first-of-type {
  display: none;
}

header img {
  /*max-width: 1000px;*/
  width:80%;
  position: relative;
  top: 3em;
}

.imgwrapper {
  height:500;
  overflow: hidden;
}

/*#headerimg:hover {
  top: 1em;
}*/

.content-column {
  position: relative;
  /*top:-5em;*/
}

.content-column-content {
  /*padding-left: 1em;*/
  /*padding-right: 0;*/
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #ffff99;
  position: relative;
}

header h1, header h6 {
  padding-left: 2rem;
}

header #title {
  color: #333;
  /*text-shadow: 2px 2px rgba(51, 51, 51, 0.38);*/
}

header h6 {
  color: #333;
  text-transform: uppercase;
  font-weight: lighter;
  /*text-shadow: 1px 1px rgba(51, 51, 51, 0.38);*/
  letter-spacing: .5em;
  padding-top: 4rem;
}

@media only screen and (min-width: 768px) {
  header img {
    /*max-width: 1000px;*/
    width:80%;
    position: relative;
    top: 3em;
  }
  header h1, header h6 {
    padding-left: 6rem;
  }

  .small-navbar {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
}

@media only screen and (min-width: 900px) {
  header img {
    /*max-width: 1000px;*/
    width:80%;
    position: relative;
    top: 3em;
  }
}

@media only screen and (min-width: 1200px) {
  header img {
    /*max-width: 1000px;*/
    width:auto;
    position: relative;
    top: 3em;
  }
  header h1, header h6 {
    padding-left: 20rem;
  }

  .small-navbar {
    margin-left: 20rem;
    margin-right: 20rem;
}

@media only screen and (min-width: 1400px) {
  header h1, header h6 {
    padding-left: 30rem;
  }

  .small-navbar {
    margin-left: 30rem;
    margin-right: 30rem;
}
}

.content-column-content>p:first-of-type {
  display: none;
}

#logos {
  grid-gap: 2em;
}


/* End Skytrain */
