/* your styles go here */

body {
  font-weight: lighter;
  font-size: 20px;
  color: #999;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-size: .75em;
  padding-bottom: 2em;
}

.sketches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.technology {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tag {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .2em;
  opacity: .7;
}

.copyright {
  opacity: 0.2;
  font-size: 10px;
}

#aboutimg{
  width: 100%;
}

.persona {
  display: grid;
  grid-template-areas:
  "bio"
  "bio-text";
  padding-bottom: 2em;
}



.bio {
  display: flex;
  align-items: center;
  flex-flow: column;
  grid-area: bio;
}

.bio img {
  width: auto;
  max-height: 100px;
  border-radius: 100px;
  margin-top: 1em;
  grid-area: bio-img;
}

.bio-details{
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 1em;
  grid-template-areas: "bio-img bio-p";
}

.bio-details p {
  display: flex;
  align-items: flex-end;
  grid-area: bio-p;
}

.bio-text {
  grid-area: bio-text;
}

blockquote {
  color: #999;
  font-weight: 300;
  font-size: 20px;
}

@media only screen and (min-width: 1300px) {
  .persona {
    grid-gap: 2em;
    grid-template-columns: auto 70%;
    grid-template-areas:
    "bio bio-text";
  }
  .bio-details {
    grid-template-columns: auto;
    grid-template-areas:
    "bio-img"
    "bio-p";
    text-align: center;
  }
  .bio-details p {
    display: block;
  }
  .bio-text {
    padding-top: 2.5em;
    max-width: 700px;
  }
}
