:root {
  --bcvotes: #ff9;
  --thelastskytrain: #005CA9;
  --ferrytracker: #9ff;
  --flextogcal: #fe644f;
  --vue: #00C185;
}

body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin:0;
}

article {
  margin: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1rem;

}

p, ul, ol {
  font-size: 1rem;
  color: #666;
  line-height: 1.65;
}

li {
    margin-top: 1rem;
  margin-bottom: 1rem;
}

header {
    padding: 1rem;
    border-bottom: .5rem solid #333;

}

#bcvotes-header {
  background-color: var(--bcvotes) ;
}

#vue-header {
  background-color: var(--vue) ;
}

#thelastskytrain-header {
  /*background: linear-gradient(#009AC9, #005CA9);*/
  background-color: var(--thelastskytrain);
}

#home {
  background-color: #ddd;
}

header a {
  text-decoration: none;
  color: inherit;
}

.light {
  color: #f9f9f9;
}

blockquote {
  border-left: .5rem solid #ff9;
  padding-left: 1rem;
  font-style: italic;
}

code {
  border-left: .5rem solid #ff9;
  padding: .5rem 1rem .5rem 1rem;
  background-color: #eee;
  color: #333;
}

.project {
  border-left: .5rem solid #333;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

#bcvotes:hover {
  border-left: .5rem solid var(--bcvotes);
}

#thelastskytrain:hover {
  border-left: .5rem solid var(--thelastskytrain);
}

#flextogcal:hover {
  border-left: .5rem solid var(--flextogcal);
}

#ferrytracker:hover {
  border-left: .5rem solid var(--ferrytracker);
}

a:visited {
  color: #333;
}

footer, dean-footer {
  background-color: #333;
  border-top: .5rem solid #aaa;
  padding: 1rem;
}

/*footer p {*/
/*    color: #ddd;*/
/*}*/