---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
  <p>I wrote these for me, but also for you</p>
  <h2>Recent</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/wrote/${post.slug}/`}>
            <FormattedDate date={post.data.pubDate} /> - {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
