/*Menu behaviour*/

.row-offcanvas {
  position: relative;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  opacity: 1;
}

.row-offcanvas-right {
  right: 0;
}

.row-offcanvas-left {
  left: 0;
}

.row-offcanvas-right .sidebar-offcanvas {
  right: -50%;
  /* 6 columns */
}

.row-offcanvas-left .sidebar-offcanvas {
  left: -48%;
  /* 6 columns */
}

.row-offcanvas-right.active {
  right: 50%;
  /* 6 columns */
}

.row-offcanvas-left.active {
  left: 50%;
  /* 6 columns */
}

.sidebar-offcanvas {
  position: absolute;
  top: 0;
  width: 50%;
  /* 6 columns */
}

@media only screen and (min-width: 1200px) {
  .row-offcanvas-right .sidebar-offcanvas {
    right: -30%;
    /* 6 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -30%;
    /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 30%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 30%;
    /* 6 columns */
  }
  .sidebar-offcanvas {
    width: 30%;
    /* 6 columns */
  }
}


/*End menu behaviour*/
