@import "reset.css";
@import "layout.css";

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--white: #ffffff;
	--primary-color: #222940;
	--secondary-color: #53518c;
	--tertiary-color: #f25c78;
	--accent-color: #f29c50;
	--heading-color: var(--primary-color);
	--text-color: var(--primary-color);

    /* Spacing */
    --ratio: 1.5;
    --measure: 60ch;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    /* Typography */
    --fs-200: clamp(0.69rem, calc(0.64rem + 0.27vw), 0.84rem);
    --fs-300: clamp(0.83rem, calc(0.73rem + 0.53vw), 1.13rem);
    --fs-400: clamp(1rem, calc(0.82rem + 0.91vw), 1.5rem);
    --fs-500: clamp(1.2rem, calc(0.91rem + 1.45vw), 2rem);
    --fs-600: clamp(1.44rem, calc(0.99rem + 2.23vw), 2.67rem);
    --fs-700: clamp(1.73rem, calc(1.06rem + 3.32vw), 3.55rem);
    --fs-800: clamp(2.07rem, calc(1.11rem + 4.84vw), 4.74rem);
    --fs-900: clamp(2.49rem, calc(1.1rem + 6.95vw), 6.31rem);
}

/* Global styles */

/* Horizontal constraints for readability, using an exception-based approach */
* {
  max-inline-size: var(--measure);
  color: var(--text-color);
  font-size: var(--fs-400);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}


h1,
h2 {
  color: var(--brand-primary);
  font-weight: 800;
}

hr {
  border: var(--brand-secondary) 1px solid;
}

a {
  color: var(--secondary-color);
  font-weight: 800;
}