:root {
  --white: hsl(0, 0%, 100%);
  --color-neutral-50: hsl(0, 0%, 90%);
  --color-neutral-100: hsl(0, 0%, 80%);
  --color-neutral-200: hsl(0, 0%, 70%);
  --color-neutral-300:hsl(0, 0%, 60%);
  --color-neutral-400:hsl(0, 0%, 50%);
  --color-neutral-500:hsl(0, 0%, 40%);
  --color-neutral-600:hsl(0, 0%, 30%);
  --color-neutral-700:hsl(0, 0%, 20%);
  --color-neutral-800:hsl(0, 0%, 10%);
  --color-neutral-900:hsl(0, 0%, 5%);
	--black: hsl(0, 0%, 0%);


  --color-primary: var(--color-primary-800);
  --color-primary-50: hsl(226, 31%, 97%);
  --color-primary-100: hsl(226, 31%, 89%);
  --color-primary-200: hsl(226, 31%, 79%);
  --color-primary-300: hsl(226, 31%, 69%);
  --color-primary-400: hsl(226, 31%, 59%);
  --color-primary-500: hsl(226, 31%, 49%);
  --color-primary-600: hsl(226, 31%, 39%);
  --color-primary-700: hsl(226, 31%, 29%);
  --color-primary-800: hsl(226, 31%, 19%);
  --color-primary-900: hsl(226, 31%, 9%);
  
  
  --color-secondary: var(--color-secondary-600);
  --color-secondary-50: hsl(242, 27%, 97%);
  --color-secondary-100: hsl(242, 27%, 93%);
  --color-secondary-200: hsl(242, 27%, 83%);
  --color-secondary-300: hsl(242, 27%, 73%);
  --color-secondary-400: hsl(242, 27%, 63%);
  --color-secondary-500: hsl(242, 27%, 53%);
  --color-secondary-600: hsl(242, 27%, 43%);
  --color-secondary-700: hsl(242, 27%, 33%);
  --color-secondary-800: hsl(242, 27%, 23%);
  --color-secondary-900: hsl(242, 27%, 13%);
	
  --color-tertiary: var(--color-tertiary-400);
  --color-tertiary-50: hsl(349, 85%, 97%);
  --color-tertiary-100: hsl(349, 85%, 95%);
  --color-tertiary-200: hsl(349, 85%, 85%);
  --color-tertiary-300: hsl(349, 85%, 75%);
  --color-tertiary-400: hsl(349, 85%, 65%);
  --color-tertiary-500: hsl(349, 85%, 55%);
  --color-tertiary-600: hsl(349, 85%, 45%);
  --color-tertiary-700: hsl(349, 85%, 35%);
  --color-tertiary-800: hsl(349, 85%, 25%);
  --color-tertiary-900: hsl(349, 85%, 15%);
  
  --color-accent: var(--color-accent-400);
  --color-accent-50: hsl(28, 86%, 97%);
  --color-accent-100: hsl(28, 86%, 93%);
  --color-accent-200: hsl(28, 86%, 83%);
  --color-accent-300: hsl(28, 86%, 73%);
  --color-accent-400: hsl(28, 86%, 63%);
  --color-accent-500: hsl(28, 86%, 53%);
  --color-accent-600: hsl(28, 86%, 43%);
  --color-accent-700: hsl(28, 86%, 33%);
  --color-accent-800: hsl(28, 86%, 23%);
  --color-accent-900: hsl(28, 86%, 13%);

	--heading-color: var(--color-primary);
	--text-color: var(--color-primary);
  --surface-color: var(--color-neutral-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --heading-color: var(--color-primary-200);
    --text-color: var(--color-primary-300);
    --surface-color: var(--color-neutral-900);
  }
}