---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="center stack box">
      <h1>Hi, I'm <span>Dean</span></h1>
      <p>
        I'm currently a Web Developer at
        <a href="https://github.com/greymass">Greymass</a>.
      </p>
      <p>
        I like to code, design, and tinker with side projects to learn new
        technology.
      </p>
      <p>Here are some things I've worked on:</p>

      <div class="grid box">
        <Card title="WharfKit.com" body="" href="https://wharfkit.com" />
        <Card
          title="WharfKit UI"
          body=""
          href="https://github.com/wharfkit/web-renderer"
        />
        <Card
          title="Anchor Android"
          body=""
          href="https://www.greymass.com/anchor"
        />
        <Card title="Greymass.com" body="" href="https://www.greymass.com" />
        <Card
          title="Brincao.com.br"
          body=""
          href="https://www.brincao.com.br"
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  h1 {
    font-size: var(--fs-400);
    font-weight: 800;
  }
  span {
    font-size: inherit;
    color: var(--color-primary-600);
  }
</style>
