---
import { SITE_TITLE } from "../consts";

const path = new URL(Astro.request.url).pathname;

const current = (href: string) => (href === path ? true : undefined);

const menu = [
  { href: "/uses", text: "Uses" },
  { href: "/wrote", text: "Wrote" },
  { href: "/now", text: "Now" },
];
---

<header class="mt-4 mb-8">
  <nav class="flex flex-wrap gap-4 items-center justify-between">
    <a href="/" class="text-xl shrink-0 font-bold">{SITE_TITLE}</a>

    <menu class="flex gap-4">
      {
        menu.map(({ href, text }) => (
          <li>
            <a
              href={href}
              aria-current={current(href)}
              class="aria-current:underline underline-offset-8"
            >
              {text}
            </a>
          </li>
        ))
      }
    </menu>
  </nav>
</header>
