---
const path = new URL(Astro.request.url).pathname;

const current = (href: string) => (href === path ? true : undefined);

const menu = [
  { href: "/uses", text: "Uses" },
  { href: "/wrote", text: "Wrote" },
  { href: "/now", text: "Now" },
];
---

<header>
  <a id="title" href="/">Dean Sallinen</a>

  <menu>
    {
      menu.map(({ href, text }) => (
        <li>
          <a href={href} aria-current={current(href)}>
            {text}
          </a>
        </li>
      ))
    }
  </menu>
</header>

<style>
  header {
    margin-block: 1.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }

  #title {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    font-size: var(--font-lg);
  }

  menu {
    display: flex;
    gap: 1rem;

    & a {
      text-decoration: none;
    }

    & [aria-current] {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }
  }
</style>
