---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="mt-4 mb-8">
  <nav class="flex flex-wrap gap-2 justify-between max-w-4xl mx-auto">
    <h2 class="shrink-0 font-bold"><a href="/">{SITE_TITLE}</a></h2>
    <div class="space-x-2">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="https://github.com/deansallinen/" target="_blank">Github</HeaderLink>
    </div>
  </nav>
</header>
