h1 {
  margin: 1.5rem 0;
}

h2 {
  margin: 2rem 0 1rem 0;
}

h3 {
  margin: 1rem 0;
}

p {
  line-height: 1.5;
  margin: 1rem;
}

ul,
ol {
  line-height: 1.5;
}

li {
  margin: 0.5rem 0;
}

figure {
  margin: 4rem 0;
}

figcaption {
  margin-top: 1rem;
  text-align: center;
}
