{{ define "header" }}
<header>
  <a id="title" href="/index.html">Dean Sallinen</a>

  <menu>
    <li>
      <a href="/uses.html">Uses</a>
    </li>
    <li>
      <a href="/index.html#wrote">Wrote</a>
    </li>
    <li>
      <a href="/now.html">Now</a>
    </li>
  </menu>
</header>

<style>
  header {
    margin-block: 1.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }

  #title {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    font-size: var(--font-lg);
  }

  menu {
    display: flex;
    gap: 1rem;

    & a {
      text-decoration: none;
    }

    & [aria-current="page"] {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }
  }
</style>
{{ end }}
