---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = "/favicon.svg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="max-w-2xl px-4 mx-auto mb-8">
    <Header />
    <main class="prose prose-sm dark:prose-invert ">
    <slot />
    </main>
  </body>
</html>
